<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['general-summary']">General Summary</a>
      <a mat-list-item [routerLink]="['customer-summary']">Customer Summary</a>
      <a mat-list-item [routerLink]="['location-summary']">Location Summary</a>
      <a mat-list-item [routerLink]="['rider-summary']">Rider Summary</a>
      <a mat-list-item [routerLink]="['promotions']">Promotions</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
