<mat-list *ngFor="let order of orders">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{order.oid}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          {{order.totalCost}}
        </mat-list-item>
        <mat-list-item>
          {{order.oid}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="deleteOrder(order.oid)" color="primary">Delete</button>
    </mat-card-actions>
  </mat-card>
</mat-list>
