<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Existing Account">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Password" formControlName="password" type="password">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
              </td>
            </tr>
          </table>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="New Account">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Create</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="accountCreationForm" (ngSubmit)="createAccount()">
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Password" formControlName="password" type="password">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>User Type</mat-label>
                  <mat-select formControlName="userType" (selectionChange)="checkIfRequireOtherInputOptions()">
                    <mat-option *ngFor="let userType of userTypes" [value]="userType">
                      {{userType | pretty}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field *ngIf="toShowRiderTypeInputField">
                  <mat-label>Rider Type</mat-label>
                  <mat-select formControlName="riderType">
                    <mat-option *ngFor="let riderType of riderTypes" [value]="riderType">
                      {{riderType | pretty}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field *ngIf="toShowRestaurantInputField">
                  <mat-label>Restaurant</mat-label>
                  <mat-select formControlName="restaurant">
                    <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant">
                      {{restaurant.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <button mat-raised-button color="primary" type="submit" [disabled]="!accountCreationForm.valid">Create</button>
              </td>
            </tr>
          </table>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
