<mat-card>
  <mat-card-header>
    <mat-card-title>
      Your Order
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Food Items
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list *ngFor="let foodItem of foodItemsInOrder">
          <mat-list-item>
            {{foodItem.name}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <br>

    <form [formGroup]="orderForm" (ngSubmit)="sendOrder()">
      <table>
        <tr>
          <td>
            <mat-label>Reward Points</mat-label>
            <br>
            <mat-slider
              thumbLabel
              tickInterval="1000"
              min="0"
              [max]="rewardPoints"
              formControlName="rewardPoints">
            </mat-slider>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Available Promotions</mat-label>
              <mat-select formControlName="promotion">
                <mat-option *ngFor="let promotion of availablePromotions" [value]="promotion.discount">
                  {{promotion.name + ' ' + promotion.type + ' ' + promotion.discount}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Payment Type</mat-label>
              <mat-select formControlName="paymentType" required>
                <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType">
                  {{paymentType | pretty}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input type="text"
                     placeholder="Delivery Location"
                     matInput
                     formControlName="deliveryLocation"
                     [matAutocomplete]="auto"
                     required>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" type="submit" [disabled]="!orderForm.valid">Send Order</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
