<div class="mat-typography">
  <mat-label>Restaurant Summary</mat-label>
  <mat-card>
    <mat-card-content>
      <mat-list *ngFor="let o of restaurantSummaryList">
        <mat-list-item>
          Month: {{o.month}}
        </mat-list-item>
        <mat-list-item>
          Number of Orders: {{o.numOrders}}
        </mat-list-item>
        <mat-list-item>
          Total Cost: {{o.totalCost}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div class="mat-typography">
  <mat-label>Promotion Summary</mat-label>
  <mat-card>
    <mat-card-content>
      <mat-list *ngFor="let o of promotionSummaryList">
        <mat-list-item>
          Promotion ID: {{o.pid}}
        </mat-list-item>
        <mat-list-item>
          Name: {{o.name}}
        </mat-list-item>
        <mat-list-item>
          Duration: {{o.duration}}
        </mat-list-item>
        <mat-list-item>
          Promotion Type: {{o.promotionType}}
        </mat-list-item>
        <mat-list-item>
          Discount: {{o.discount}}
        </mat-list-item>
        <mat-list-item>
          Average Orders: {{o.avgOrders}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
