<mat-card>
  <mat-card-header>
    <mat-card-title>
      Feedback
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="customerFeedbackForm" (ngSubmit)="submitFeedback()">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Rider Rating</mat-label>
              <mat-select formControlName="rating">
                <mat-option *ngFor="let ratingChoice of ratingChoices" [value]="ratingChoice">
                  {{ratingChoice}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>FoodReview</mat-label>
              <textarea matInput placeholder="FoodReview" formControlName="review"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" type="submit" [disabled]="!customerFeedbackForm.valid">Submit
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
