<div id="orders">
  <mat-list *ngFor="let order of orders">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Order Number: {{order.id}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            Status: {{getOrderStatus(order)}}
          </mat-list-item>
          <mat-list-item>
            Total Cost: {{order.foodCost}}
          </mat-list-item>
          <mat-list-item>
            Payment Type: {{order.paymentType | pretty}}
          </mat-list-item>
          <mat-list-item>
            Order Time: {{order.orderTime}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          (click)="feedbackOrder(order)"
          color="primary"
          [disabled]="!canFeedbackOrder(order)">Feedback
        </button>
        <!--      <button mat-raised-button (click)="deleteOrder(order.id)" color="primary">Delete</button>-->
      </mat-card-actions>
    </mat-card>
  </mat-list>
</div>
<div id="feedback">
  <app-order-feedback *ngIf="toShowFeedbackForm"
                      [restaurantId]="restaurantToFeedback"
                      [orderId]="orderToFeedback"
                      (isDone)="handleFeedbackCompletion()">
  </app-order-feedback>
</div>
