<div id="left">
  <mat-list *ngFor="let foodItem of foodItems">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{foodItem.name}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{foodItem.price}}
        <mat-divider [vertical]="true"></mat-divider>
        {{foodItem.category}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="add(foodItem)" color="primary">Add</button>
        <button mat-raised-button (click)="remove(foodItem)" color="primary">Remove</button>
      </mat-card-actions>
    </mat-card>
  </mat-list>
</div>

<div id="right">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Your Order
      </mat-card-title>
      <mat-card-content>
        <mat-list *ngFor="let foodItem of foodItemsInOrder">
          <mat-list-item>
            {{foodItem.name}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="sendOrder()" color="primary">Send Order</button>
      </mat-card-actions>
    </mat-card-header>
  </mat-card>
</div>
