<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="filterFoodItems($event)" placeholder="Ex. Mia">
</mat-form-field>

<br>

<button mat-raised-button (click)="addFoodItem()">Add Food Item</button>
<button mat-raised-button (click)="updateFoodItem()">Update Food Item</button>
<button mat-raised-button (click)="removeFoodItems()">Remove Food Item</button>

<br>
<br>
<ng-container *ngIf="toShowFoodItemEditor">
  <app-food-item-editor
    [mode]="foodItemEditorMode"
    [foodItem]="foodItemToUpdate"
    (foodItemResult)="handleFoodItemEditorCompletion($event)">
  </app-food-item-editor>
  <br>
  <br>
</ng-container>

<table mat-table [dataSource]="menuDataSource" matSort>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
        [checked]="selectedFoodItems.hasValue() && isAllSelected()"
        [indeterminate]="selectedFoodItems.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
        (change)="$event ? selectedFoodItems.toggle(row) : null"
        [checked]="selectedFoodItems.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
    <td mat-cell *matCellDef="let foodItem"> {{foodItem.name}} </td>
  </ng-container>


  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>category</th>
    <td mat-cell *matCellDef="let foodItem"> {{foodItem.category}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
    <td mat-cell *matCellDef="let foodItem"> {{foodItem.price}} </td>
  </ng-container>

  <ng-container matColumnDef="availability">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>availability</th>
    <td mat-cell *matCellDef="let foodItem"> {{foodItem.availability}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="menuColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: menuColumns;"></tr>
</table>
