<div class="mat-typography">
  <mat-label>Customer Summary</mat-label>
  <mat-card>
    <mat-card-content>
      <mat-list *ngFor="let o of customerSummaryList">
        <mat-list-item>
          Month: {{o.month}}
        </mat-list-item>
        <mat-list-item>
          Customer ID: {{o.cid}}
        </mat-list-item>
        <mat-list-item>
          Number of Orders: {{o.numOrders}}
        </mat-list-item>
        <mat-list-item>
          Total Cost: {{o.totalCost}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
