<div>
    <mat-card>
        <button mat-raised-button (click)="viewOrder()" color="primary">View Orders</button>
        <button mat-raised-button (click)="viewSummary()" color="accent">View Summary</button>
    </mat-card>

    <div class="mat-typography">
      <h2>Accepted Orders</h2>
      <mat-list *ngFor="let o of acceptedOrderList">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{o.id}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                {{o.orderTime}}
              </mat-list-item>
              <mat-list-item>
                {{o.deliveryFee}}
              </mat-list-item>
              <mat-list-item>
                {{o.paymentType}}
              </mat-list-item>
              <mat-list-item>
                {{o.location}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="refreshDoneOrders(o.id)" color="primary">Order delivered</button>
          </mat-card-actions>
        </mat-card>
      </mat-list>
    </div>

    <div *ngIf="showOrder" class="mat-typography">
      <h2>Available Orders</h2>
      <mat-list *ngFor="let o of orderList">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{o.id}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                {{o.orderTime}}
              </mat-list-item>
              <mat-list-item>
                {{o.deliveryFee}}
              </mat-list-item>
              <mat-list-item>
                {{o.paymentType}}
              </mat-list-item>
              <mat-list-item>
                {{o.location}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="refreshAcceptOrders(o.id)" color="primary">Accept Order</button>
          </mat-card-actions>
        </mat-card>
      </mat-list>
    </div>

    <div *ngIf="showSummary" class="mat-typography">
      <h2>Salary Summary</h2>
      <h3>Note: Full-time will have summary of the current month and Part-time will have summary of the current week.</h3>
      <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              {{salaryInfo.numOfOrder}}
            </mat-list-item>
            <mat-list-item>
              {{salaryInfo.riderSalary}}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="showSummary" class="mat-typography">
      <h3>Order Summary</h3>
      <mat-list *ngFor="let s of summaryList">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{s.id}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                {{s.orderTime}}
              </mat-list-item>
              <mat-list-item>
                {{s.deliveryTime}}
              </mat-list-item>
              <mat-list-item>
                {{s.deliveryFee}}
              </mat-list-item>
              <mat-list-item>
                {{s.paymentType}}
              </mat-list-item>
              <mat-list-item>
                {{s.location}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-list>
    </div>

</div>
