<div>
    <mat-card>
        <button mat-raised-button (click)="viewOrder()" color="primary">View Orders</button>
        <button mat-raised-button (click)="viewSummary()" color="accent">View Summary</button>
    </mat-card>

    <div class="mat-typography"> 
      <h2>Accepted Orders</h2>
      <mat-list *ngFor="let o of acceptedOrderList">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{o.oid}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                {{o.orderTime}}
              </mat-list-item>
              <mat-list-item>
                {{o.deliveryFee}}
              </mat-list-item>
              <mat-list-item>
                {{o.paymentType}}
              </mat-list-item>
              <mat-list-item>
                {{o.location}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="refreshDoneOrder(o.oid)" color="primary">Order delivered</button>
          </mat-card-actions>
        </mat-card>
      </mat-list>
    </div>

    <div *ngIf="showOrder" class="mat-typography"> 
      <h2>Available Orders</h2>
      <mat-list *ngFor="let o of orderList">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{o.oid}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                {{o.orderTime}}
              </mat-list-item>
              <mat-list-item>
                {{o.deliveryFee}}
              </mat-list-item>
              <mat-list-item>
                {{o.paymentType}}
              </mat-list-item>
              <mat-list-item>
                {{o.location}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="refreshAcceptOrder(o.oid)" color="primary">Accept Order</button>
          </mat-card-actions>
        </mat-card>
      </mat-list>
    </div>

    <div *ngIf="showSummary" class="mat-typography">
      <h2>Order Summary</h2>
      <mat-list *ngFor="let s of summaryList">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{s.oid}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                {{s.orderTime}}
              </mat-list-item>
              <mat-list-item>
                {{s.deliveryTime}}
              </mat-list-item>
              <mat-list-item>
                {{s.deliveryFee}}
              </mat-list-item>
              <mat-list-item>
                {{s.paymentType}}
              </mat-list-item>
              <mat-list-item>
                {{s.location}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-list>
    </div>
    
</div>  