<div>
    <mat-card>
        <button mat-raised-button (click)="viewOrder()" color="primary">View Orders</button>
        <button mat-raised-button (click)="viewSummary()" color="accent">View Summary</button>
    </mat-card>

    <div *ngIf="showOrder">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let o of orderList">{{o.oid}}</mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="showSummary">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let s of summaryList">{{s}}</mat-list-item>
      </mat-list>
    </div>
    
</div>  