<form [formGroup]="fullTimeForm" class="mat-typography" *ngIf="isFullTime" (ngSubmit)="onSubmitFullTime()">
    <mat-label>Full Time</mat-label>
    <br>
    <mat-form-field>
        <mat-label>Day Options [Current: {{riderFullTimeSchedule.dayOption[0]}}]</mat-label>
        <mat-select formControlName="dayOption" required>
            <mat-option *ngFor="let dayChoice of dayChoices" [value]="dayChoice.value">
                {{dayChoice.value}}: {{dayChoice.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Day 1 [Current: {{riderFullTimeSchedule.shiftOption[0]}}]</mat-label>
        <mat-select formControlName="shift1" required>
            <mat-option *ngFor="let shiftChoice of shiftChoices" [value]="shiftChoice.value">
                {{shiftChoice.value}}: {{shiftChoice.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
        <mat-label>Day 2 [Current: {{riderFullTimeSchedule.shiftOption[1]}}]</mat-label>
        <mat-select formControlName="shift2" required>
            <mat-option *ngFor="let shiftChoice of shiftChoices" [value]="shiftChoice.value">
                {{shiftChoice.value}}: {{shiftChoice.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
        <mat-label>Day 3 [Current: {{riderFullTimeSchedule.shiftOption[2]}}]</mat-label>
        <mat-select formControlName="shift3" required>
            <mat-option *ngFor="let shiftChoice of shiftChoices" [value]="shiftChoice.value">
                {{shiftChoice.value}}: {{shiftChoice.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
        <mat-label>Day 4 [Current: {{riderFullTimeSchedule.shiftOption[3]}}]</mat-label>
        <mat-select formControlName="shift4" required>
            <mat-option *ngFor="let shiftChoice of shiftChoices" [value]="shiftChoice.value">
                {{shiftChoice.value}}: {{shiftChoice.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
        <mat-label>Day 5 [Current: {{riderFullTimeSchedule.shiftOption[4]}}]</mat-label>
        <mat-select formControlName="shift5" required>
            <mat-option *ngFor="let shiftChoice of shiftChoices" [value]="shiftChoice.value">
                {{shiftChoice.value}}: {{shiftChoice.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [disabled]="!fullTimeForm.valid">Update</button>
</form>

<div *ngIf="!isFullTime" class="mat-typography">
    <mat-label>Current Part-Time Shifts</mat-label>
    <mat-list *ngFor="let pts of riderPartTimeShiftList">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    ID: {{pts.ptsid}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        Day of the week: {{pts.dow}}
                    </mat-list-item>
                    <mat-list-item>
                        Start hour: {{pts.startHour}}
                    </mat-list-item>
                    <mat-list-item>
                        End hour: {{pts.endHour}}
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="deletePartTimeShift(pts.ptsid)" color="primary">Delete</button>
            </mat-card-actions>
        </mat-card>
    </mat-list>

    <form [formGroup]="partTimeForm" (ngSubmit)="addPartTime()">
        <mat-label>Part Time</mat-label>
        <br>
        <mat-form-field>
            <mat-label>Day of the week</mat-label>
            <mat-select formControlName="dow" required>
                <mat-option *ngFor="let dowChoice of dowChoices" [value]="dowChoice.value">
                    {{dowChoice.value}}: {{dowChoice.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Start Hour</mat-label>
            <mat-select formControlName="startHour" required>
                <mat-option *ngFor="let startHourChoice of startHourChoices" [value]="startHourChoice.value">
                    {{startHourChoice.value}}: {{startHourChoice.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>End Hour</mat-label>
            <mat-select formControlName="endHour" required>
                <mat-option *ngFor="let endHourChoice of endHourChoices" [value]="endHourChoice.value">
                    {{endHourChoice.value}}: {{endHourChoice.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="!partTimeForm.valid">Add</button>
    </form>

    <div *ngIf="updateRiderPartTimeShiftList.length > 0">
        <mat-label>New Part-Time Shifts [Note: This will add on to the current shifts]</mat-label>
        <mat-list *ngFor="let pts of updateRiderPartTimeShiftList">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        ID: {{pts.ptsid}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            Day of the week: {{pts.dow}}
                        </mat-list-item>
                        <mat-list-item>
                            Start hour: {{pts.startHour}}
                        </mat-list-item>
                        <mat-list-item>
                            End hour: {{pts.endHour}}
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="deleteUpdatePartTimeShift(pts)" color="primary">Delete</button>
                </mat-card-actions>
            </mat-card>
        </mat-list>
        <mat-card-actions>
            <button mat-raised-button (click)="updatePartTimeShift()" color="primary">Submit</button>
        </mat-card-actions>
    </div>>
</div>