<mat-card>
  <mat-card-header>
    <mat-card-title>
      Profile
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="profileForm" (ngSubmit)="putDetails()">
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Minimum Purchase</mat-label>
              <input matInput placeholder="Minimum Purchase" formControlName="minimumPurchase">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" type="submit">Update</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
